/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1128px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  width: calc((100% - 48px) / 3);
  height: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.04);
}

/* ========================================================================================================================================================
task - 2
======================================================================================================================================================== */
.conteiners {
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  height: 192px;
}

label {
  width: 360px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  width: 348px;
  height: 38px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 10px;
}

textarea {
  width: 348px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 10px;
  justify-content: center;
}

input:hover,
input:focus {
  border: 1px solid #000;
  border-radius: 4px;
}

textarea:active {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover,
button:focus {
  background: #6c8cff;
}
